@(controller: de.htwg.se.stratego.controller.controllerComponent.ControllerInterface)


@main("Stratego") {

    <!-- ===== HEADER ===== -->
    <header class="l-header">
        <nav class="navbar navbar-expand-sm bd-grid">

            <a href="#" class="nav__logo navbar-brand"><img src="@routes.Assets.versioned("images/logo.png")" alt="StrategoLogo"></a>

            <button class="navbar-toggler" data-toggle="collapse" data-target="#navMenu">
                <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navMenu">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/#gameplay" target="_blank" class="nav-link">Gameplay</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                            Game</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/menu"><i class="fas fa-kiwi-bird"></i> New Game</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/load"><i class="fas fa-folder-open"></i> Load</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/save"><i class="fas fa-save"></i> Save</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/"><i class="fas fa-door-open"></i> Quit</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                            Edit</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/undo"><i class="fas fa-undo"></i> Undo </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/redo"><i class="fas fa-redo"></i> Redo</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

    </header>

    <main class ="l-main">
            <!-- ===== Game ===== -->
        <section class="home bd-grid" id="home">
            <div class="game__conatiner">
                <div class="gameboard__container" id="board">
                </div>
                <div class="info__container">
                    <p class="info__turn" id="infoPlayer"></p>
                </div>
            </div>
        </section>
    </main>

    <script src="@routes.Assets.versioned("javascripts/gameboard.js")"></script>

}
